#toast-container > div {
    padding: 10px 10px 10px 50px;
}

#toast-container > .toast {
    background-size: 18px;
}

#toast-container .toast-message {
    margin-top: 5px;
}

.toast-success {
    background-color: #1ab394;
}
.switchery {
    height: 20px;
    width: 40px;
}
.switchery > small {
    height: 20px;
    width: 20px;
}

.flot-chart {
    height: auto;
}
.flot-chart-content .row {
    margin-top: 18px;
    margin-bottom: 18px;
}

.mw-mc {
    width: max-content !important;
}

/***********************************************************profile-tab*************************************************/
/* Style the tab */
.tab {
    float: left;
    background-color: #f1f1f1;
    width: 25%;
    height: 300px;
    display: inline-table;
    border-right: 1px solid #e5e5e5;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0;
    width: 75%;
    border-left: none;
    height: 300px;
}

section.tab-section {
    display: flex;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background: #fff;
}

.tabcontent h3 {
    margin: 0;
    background: #293846;
    color: #f1b332;
    padding: 15px 15px;
}
.profile-pic {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 15px auto;
    overflow: hidden;
}
.profile-pic img {
    width: 100%;
    height: 100%;
}

/***********************************************************profile-tab-end*************************************************/
