@font-face {
    font-family: 'nunitolight';
    src: url('../fonts/nunito-light-webfont.woff2') format('woff2'),
         url('../fonts/nunito-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoregular';
    src: url('../fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('../fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitobold';
    src: url('../fonts/nunito-bold-webfont.woff2') format('woff2'),
         url('../fonts/nunito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitosemibold';
    src: url('../fonts/nunito-semibold-webfont.woff2') format('woff2'),
         url('../fonts/nunito-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'nunitoblack';
    src: url('../fonts/nunito-black-webfont.woff2') format('woff2'),
         url('../fonts/nunito-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunitoitalic';
    src: url('../fonts/nunito-italic-webfont.woff2') format('woff2'),
         url('../fonts/nunito-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunitobold_italic';
    src: url('../fonts/nunito-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/nunito-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}






@font-face {
    font-family: 'helveticaregular';
    src: url('../fonts/helvetica-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica-bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.dropdown-toggle:after {
	border:solid;
	border-width:0 2px 2px 0;
	display:inline-block;
	padding:2px;
	transform:rotate(45deg)
}
.dropdown-item {
transition:background .1s ease-in-out, color .1s ease-in-out
}
.dropdown-menu-lg {
	min-width:700px
}
.dropdown .list-group .list-group-item {
	border-width:0 0 1px;
	margin-bottom:0;
	text-decoration:none
}
.dropdown .list-group .list-group-item:first-child, .dropdown .list-group .list-group-item:last-child {
	border-radius:0
}
.dropdown .list-group .list-group-item:hover {
	background:#f4f7f9
}
.dropdown-menu {
	top:auto
}




@media (max-width:767.98px) {
.navbar {
width:100vw
}
}
.input-group-navbar {
	min-width:240px
}
.navbar-expand>.container, .navbar-expand>.container-fluid, .navbar-expand>.container-lg, .navbar-expand>.container-md, .navbar-expand>.container-sm, .navbar-expand>.container-xl {
	padding-left:0;
	padding-right:0
}
.navbar-bg {
	background:#fff
}
body:not([data-sidebar-position=right]) .navbar-align {
margin-left:auto
}
body[data-sidebar-position=right] .navbar-align {
	margin-right:auto
}

.navbar-brand .feather, .navbar-brand svg {
	color:#3f80ea;
	height:24px;
margin-left:-.15rem;
margin-right:.375rem;
margin-top:-.375rem;
	width:24px
}
.nav-flag, .nav-icon {
	color:#6c757d;
	display:block;
	font-size:1.5rem;
	line-height:1.1;
padding:.1rem .0rem;
transition:background .1s ease-in-out, color .1s ease-in-out
}
.nav-flag:after, .nav-icon:after {
	display:none!important
}
.nav-flag.active, .nav-flag:hover, .nav-icon.active, .nav-icon:hover {
	color:#3f80ea
}

.nav-item .indicator {
	color:#FF214A;
	display:block;
font-size:19px;
	height:18px;
	padding:0px;
	position:absolute;
	right:10px;
	text-align:center;
	top:8px;
transition:top .1s ease-out;
	width:18px;
	font-family: 'nunitosemibold';
}
.nav-item:hover .indicator {
	top:-4px
}
.nav-item a:focus {
	outline:0
}

@media (max-width:575.98px) {
.navbar {
padding:.75rem
}
.nav-icon {
padding:.1rem .75rem
}
.dropdown, .dropleft, .dropright, .dropup {
position:inherit
}
.navbar-expand .navbar-nav .dropdown-menu-lg {
min-width:100%
}
.nav-item .nav-link:after {
display:none
}
}
.nav-flag img {
	border-radius:50%;
	height:20px;
	-o-object-fit:cover;
	object-fit:cover;
	width:20px
}


.progress-sm {
height:.5rem
}
.progress-lg {
	height:1.5rem
}

@media (-ms-high-contrast:none), screen and (-ms-high-contrast:active) {
html {
overflow-x:hidden
}
}
:root {
--primary-dark:#1659c7;
--primary-light:#84aef2
}
.settings {
	direction:ltr;
	display:none
}
@media (min-width:1200px) {
.settings {
display:block
}
}
.settings-toggle {
	background:#fff;
border-bottom-left-radius:.2rem;
border-top-left-radius:.2rem;
	box-shadow:-5px 0 10px 0 rgba(0, 0, 0, .1);
	color:#000;
	cursor:pointer;
	height:150px;
padding:.5rem;
	position:fixed;
	right:0;
	top:200px;
transition:all .1s ease-in-out;
	width:54px;
	z-index:10
}
body[data-theme=dark] .settings-toggle {
	background:#f4f7f9
}
.settings-toggle-option {
	background:#edf2f5;
border-radius:.2rem;
	color:#000;
	display:block;
font-size:.875rem;
	font-weight:500;
	height:34px;
padding:.5rem;
	text-align:center;
	text-transform:uppercase;
	-webkit-writing-mode:vertical-rl;
	writing-mode:vertical-rl
}
.settings-toggle-option:hover {
	background:#e4ebf0;
	color:#000
}
.settings-toggle-option:first-child {
	color:#1863de;
margin-bottom:.5rem
}
.settings-toggle-option svg {
	stroke-width:2
}
body[data-theme=dark] .settings-toggle-option {
	background:#e2e8ee
}
body[data-theme=dark] .settings-toggle-option:hover {
	background:#f2f5f7
}
body[data-theme=dark] .settings-toggle-option:first-child {
	color:#fff
}
.settings-toggle-option-text {
	height:93px
}
.settings-toggle-option-text svg {
	transform:rotate(-90deg)
}
.settings-panel {
	background:#fff;
	border-left:0 solid transparent;
	bottom:0;
	display:block;
	height:100%;
	position:fixed;
	right:-320px;
	top:0;
transition:right .2s ease-in-out;
	width:320px;
	z-index:100
}
.settings.open .settings-panel:before {
	background:rgba(0, 0, 0, .325);
	content:"";
	height:100%;
	left:0;
	pointer-events:none;
	position:fixed;
	top:0;
	width:100%;
	z-index:-1
}
.settings.open .settings-panel {
	right:0
}
.settings-content {
	background:#fff;
	display:flex;
	flex-direction:column;
	height:100%;
	overflow:auto;
	position:relative
}

.sidebar [data-bs-toggle=collapse] {
	position:relative
}
.sidebar [data-bs-toggle=collapse]:before {
	border:solid;
border-width:0 .1rem .1rem 0;
	content:" ";
	display:inline-block;
	padding:2px;
	position:absolute;
	right:1.7rem;
	top:1rem;
	transform:rotate(45deg);
transition:all .2s ease-out
}
.sidebar [aria-expanded=true]:before, .sidebar [data-bs-toggle=collapse]:not(.collapsed):before {
top:1.2rem;
transform:rotate(-135deg)
}
.sidebar .sidebar-dropdown [data-toggle=collapse]:before {
	top:1rem
}
.sidebar .sidebar-dropdown [aria-expanded=true]:before, .sidebar .sidebar-dropdown [data-toggle=collapse]:not(.collapsed):before {
top:1.2rem
}
.sidebar-brand {
	color:#fff;
	display:block;
	font-size:1.125rem;
	font-weight:500;
	padding:1.15rem 1.5rem;
	text-align:center
}
