@font-face {
    font-family: "poppinsbold";
    src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
        url("../fonts/poppins-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinslight";
    src: url("../fonts/poppins-light-webfont.woff2") format("woff2"),
        url("../fonts/poppins-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsmedium";
    src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"),
        url("../fonts/poppins-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsregular";
    src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
        url("../fonts/poppins-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinssemibold";
    src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"),
        url("../fonts/poppins-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsthin";
    src: url("../fonts/poppins-thin-webfont.woff2") format("woff2"),
        url("../fonts/poppins-thin-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsitalic";
    src: url("../fonts/poppins-italic-webfont.woff2") format("woff2"),
        url("../fonts/poppins-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsblack";
    src: url("../fonts/poppins-black-webfont.woff2") format("woff2"),
        url("../fonts/poppins-black-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppinsextralight";
    src: url("../fonts/poppins-extralight-webfont.woff2") format("woff2"),
        url("../fonts/poppins-extralight-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
}

.w-15 {
    width: 17% !important;
}
.w-20 {
    width: 18% !important;
}
.w-60 {
    width: 50% !important;
}

a {
    color: #f39f01;
}

.w-80 {
    width: 80% !important;
}

body {
    background: #fff;
    font-family: "poppinsregular";
}

.main-search {
    width: 700px;
    padding-top: 9px;
    padding-left: 20px;
    padding-bottom: 9px;
    padding-right: 50px;
}
.bg-header {
    background: #05061f;
}
.top-nav {
    background: #05061f;
}

/*/===========================/*/

.btn-outline1 {
    border-radius: 10px;
    color: #05061f;
    border: 1px solid #6e6e97;
    font-size: 14px;
    font-family: "nunitoregular";
    padding: 10px 20px;
}

.form-select2 {
    border-radius: 8px;
    font-size: 14px;
    font-family: "nunitoregular";
    color: #05061f;
    border: 1px solid #8789bc;
    background-color: #f9f9ff;
}

.border-bottom1 {
    border-bottom: 1px solid #b7b7ca;
}

/*/===========shop-all -parent-categories================/*/

.pb-4-5 {
    padding-bottom: 2rem !important;
}
.page-item {
    margin-left: 8px;
}

.page-link:hover {
    color: #05061f;
}

.next {
    border-radius: 80px !important;
    margin-left: 40px !important;
    text-align: center;
    color: #05061f;
    width: 145px;
    border: 1px solid #6e6f94 !important;
    font-family: "nunitosemibold";
    font-size: 18px;
}

.pre {
    border-radius: 80px !important;
    margin-right: 40px !important;
    text-align: center;
    width: 145px;
    color: #05061f;
    border: 1px solid #6e6f94 !important;
    font-family: "nunitosemibold";
    font-size: 18px;
}
.page-link {
    color: #05061f;
}

.mt100 {
    margin-top: 100px;
}

/*/=====================Lost-your-password=========================/*/
.lost-box {
    background: #caffeb;
    border-radius: 35px;
}

.form-control-2 {
    border: 1px solid #6e6f94 !important;
    border-radius: 10px;
    line-height: 38px;
    font-size: 16px;
    font-family: "nunitoregular";
}
.p-6 {
    padding: 3.5rem !important;
}

.heading h5 {
    font-family: "helveticabold";
    font-size: 20px;
    color: #05061f;
    padding: 20px 0px;
}
.heading p {
    font-family: "poppinsregular";
    font-size: 14px;
    color: #404040;
    padding: 20px 0px;
}

.input-group > .form-control,
.input-group > .form-select {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

/*/=====================Footer=========================/*/

.footer {
    background: #404040;
    display: inline-block;
}

.footer h5 {
    color: #6e6f94;
    font-weight: bold;
    font-size: 14px;
    font-family: "poppinsregular";
    padding-bottom: 7px;
}
.footer ul {
    list-style: none;
    list-style-position: inside;
    padding: 0px;
}

.footer li {
    list-style: none;
    list-style-position: inside;
    font-family: "poppinsmedium";
    font-size: 16px;
}
.footer li a {
    list-style-position: inside;
    color: #fff;
    line-height: 32px;
    display: block;
    text-decoration: none;

    font-size: 16px;
}
.footer li a:hover {
    color: #fca311;
}

ul.nav-footer {
    font-family: "poppinsregular";
    font-size: 16px;
}
ul.nav-footer li {
    font-family: "poppinsregular";
    font-size: 16px;
}

ul.footer__sub-nav {
    font-family: "poppinsregular";
    font-size: 16px;
}
ul.footer__sub-nav li {
    font-family: "poppinsregular";
    font-size: 16px;
}

.footer-text-light {
    font-family: "poppinsregular";
    font-size: 16px;
    margin-bottom: 25px;
    color: #fff;
}

.copyright {
    color: #fff;
    font-size: 16px;
    font-family: "poppinsregular" !important;
    border-top: 1px solid #a6a6a6;
}

.py-6 {
    padding-top: 3.4rem !important;
    padding-bottom: 3.3rem !important;
}
.pt-6 {
    padding-top: 3.3rem !important;
}
/*/=============================scrool===============/*/

.side-section {
    position: relative;
    z-index: 9;
    background-color: #404040;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 40px;
}

.earn-box {
    width: 435px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px;
    text-align: left;
}
.earn-box p {
    padding: 0px !important;
    font-size: 15px;
}

.vision-box {
    display: inline-block;
    padding-top: 80px;
}
.vision-box h2 {
    color: #262626;
    font-size: 40px;
    font-family: "poppinsbold";
}
.vision-box p {
    width: 100%;
    display: block;
    font-size: 19px;
    color: #a6a6a6;
    padding-right: 100px;
}

.about-box {
    display: inline-block;
    padding-top: 80px;
}
.about-box h2 {
    color: #262626;
    font-size: 40px;
    font-family: "poppinsbold";
}
.about-box p {
    width: 100%;
    display: block;
    font-size: 19px;
    color: #a6a6a6;
    padding-right: 100px;
}
.feedback-box {
    position: fixed;
    bottom: 151px;
    right: 0px;
    background: url(../images/feedback.png) no-repeat top right;
    height: 161px;
    width: 51px;
    z-index: 999;
    cursor: pointer;
}


.top-banner { padding-top:70px;}

.chat {
    position: fixed;
    bottom: 45px;
    display: block;
    z-index: 9999;
    right: 55px;
    width: 45px;
    height: 45px;
    background: url(../images/comment.png) no-repeat;
    cursor: pointer;
}
.chat-box {
    width: 299px;
    display: block;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 9999;
    bottom: 110px;
    right: 50px;
    background: #ccc;
    height: 350px;
    border-radius: 11px;
    display: none;
}
.chat-box.show {
    display: block;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 25px solid #ccc;
    top: 340px;
    position: absolute;
    right: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-left: 5px;
    color: #fff;
    border: 1px solid #000;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background: transparent;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
}

.navbar-dark .navbar-nav .nav-link.active {
    background: #f39f01;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border: 1px solid #f39f01;
}
.border-dark {
    border: 1px solid #000 !important;
}

.card-panel-box {
    border: 2px solid #262626;
    border-radius: 10px;
}
.card-panel-box h3 {
    font-size: 18px;
    color: #000000;
    font-family: "poppinsmedium";
}

.timer {
    background: url(../images/timer1.svg) no-repeat;
    top: 15px;
    left: 15px;
    width: 207px;
    height: 67px;
    position: absolute;
    z-index: 99;
}

.heading h2 {
    font-family: "poppinsbold";
    font-size: 33px;
    color: #404040;
}

.carousel-box {
    width: 520px;
    display: block;
    top: 15%;
}
.carousel-box h1 {
    font-size: 40px;
    font-family: "poppinsbold";
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}
.carousel-box h2 {
    font-size: 35px;
    font-family: "poppinsbold";
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}

.carousel-box span {
    font-size: 12px;
    font-family: "poppinslight";
    color: #fff;
    padding: 8px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #f39f01;
    border-radius: 6px;
}

.text20B {
    font-size: 20px;
    font-family: "poppinsbold";
}

.social-links {
    display: inline-block;
    width: auto;
    margin: 4px;
}
.social-links a {
    background: none;
    border: 2px solid #fff;
    color: #000;
    margin-right: 5px;
    border-radius: 50px;
    font-size: 14px !important;
    line-height: 28px !important;
    text-align: center;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.social-links a:hover {
    background: #fff !important;
    color: #000 !important;
    text-decoration: none;
}
.opacity-box { position:absolute; background:url(../images/patch.png) repeat;
    left:9%; padding-top:50px; right:50%; height:343px; width:82%;
     top:155px; z-index:99; color:#fff;text-align:center}
/* .opacity-box {
    position: absolute;
    background: #000;
    left: 8.5%;
    right: 50%;
    height: 350px;
    width: auto;
    top: 155px;
    z-index: 99;
    border-radius: 10px;
} */
.card-panel-box {
    border: 2px solid #262626;
    border-radius: 10px;
    height: 325px;
}
.signup-section {
    z-index: 99;
    background: #0d0d0d;
    /* background: #000; */
    border-radius: 10px;
    padding: 25px;
    height:325px;
    padding: 70px;
}
.signup-section h3 {
    color: #ffffff;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    font-family: "poppinsbold";
}
.signup-section p {
    text-align: center;
}

.mt-7 {
    margin-top: 5.6rem !important;
}

.border-f {
    border: 1px solid #f39f01 !important;
}
.modal-content1 {
    border-radius: 1.5rem !important;
    background: #000;
}

.radius-tb {
    border-top-left-radius: 1.5rem !important;
    border-bottom-left-radius: 1.5rem !important;
}
.or-box {
    background: url(../images/line2.png) repeat-x;
    width: 100%;
    margin: 22px 0px;
}
.or-box span {
    background: #000;
    color: #fff;
    text-align: center;
    left: 45%;
    right: 0px;
    position: relative;
    padding: 8px;
    display: inline;
}
.closeP-btn {
    background-color: #fff;
    border-radius: 100px;
    padding: 10px;
    opacity: 1;
    right: -10px !important;
    top: -10px;
}

.login-input {
    padding: 10px 18px;
}
.nav-item {
    font-family: "poppinslight";
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #f39f01;
    border: 1px solid #f39f01 !important;
    background: transparent;
}
.nav-link {
    color: #fff;
}
.refera-box {
    border-bottom: 4px solid #fff;
    width: 290px;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}
.refera-box h2 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    font-family: "poppinsbold";
    font-style: italic;
    margin: 0px;
    padding: 0px;
    line-height: 62px;
}

/* Side button Menu
---------------------------------*/
.right-fixed-btn.show {
    display: block;
}
.right-fixed-btn {
    position: fixed;
    right: -62px;
    z-index: 9;
    top: 50%;
    transform: rotate(270deg);
    display: none;
}
.right-fixed-btn b {
    background: #5c48c0;
    color: #fff;
    padding: 15px 15px;
    cursor: pointer;
}
.fixed-form-from-side {
    background: #5c48ca;
}

.input-search {
    position: relative;
}

.input-search .input-search-icon {
    right: 22px;
    font-size: 16px;
    color: #a3afb7;
    text-align: center;
    pointer-events: none;
    position: absolute;
    top: 10px;
}
.input-search .input-search-icon + .form-control {
    padding-right: 30px;
    line-height: 29px;
}

.input-search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 10px;
    background: 0 0;
    border: none;
    border-radius: 0 200px 200px 0;
    color: #000000;
}

.btn-login {
    background: #f39f01;
    color: #ffffff;
    font-size: 16px;
    border: 0px;
    padding: 12px;
}

.btn-outline-warning {
    color: #f39f01;
    border-color: #f39f01 !important;
}

.btn-outline-warning:hover {
    color: #fff;
    background-color: #f39f01 !important;
    border-color: #f39f01 !important;
}

.top-search {
    width: 400px;
}

.carousel-indicators {
    margin-left: 5% !important;
    margin-right: 5% !important;
}
.carousel-caption {
    left: 50% !important;
}

.ml-15 {
    margin-left: 15%;
}

@media (max-width: 767px) {
    .ml-15 {
        margin-left: 0%;
        margin-top: 20px;
    }
    .about-box p {
        padding-right: 0;
    }
    .vision-box {
        padding-top: 0px;
    }
    .vision-box p {
        padding-right: 0px;
    }
    .feedback-box {
        position: fixed;
        bottom: 250px;
        right: 0px;
        background: url(../images/feedback.png) no-repeat top right;
        height: 161px;
        width: 51px;
        z-index: 999;
        cursor: pointer;
        bottom: 248px;
      }
    .px-5 {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
    .mt-5 {
        margin-top: 1rem !important;
    }

    /* .opacity-box {
        position: absolute;
        background: #000;
        left: 0px;
        right: 0px;
        height: 370px;
        width: 100%;
        top: 255px;
        z-index: 99;
    } */
    .img-fluid1 {
        max-width: 100%;
        height: auto;
      }
    .opacity-box { position:absolute; background:url(../images/patch.png) repeat;
        left:0%; padding-top:200px; right:50%; height:700px; width:100%;
         top:215px; z-index:999; color:#fff;text-align:center}
    .signup-section {
        z-index: 99;
        top: 0%;
        position: relative;
        right: 0%;
        width: 100%;
        background: #0d0d0d;
        border-radius: 10px;
        padding: 25px;
    }
    .vision-box {
        margin-bottom: 20px;
    }
    .vision-box h2 {
        color: #262626;
        font-size: 30px;
        font-family: "poppinsbold";
    }

    .about-box {
        display: inline-block;
        padding-top: 10px;
    }
    .about-box h2 {
        color: #262626;
        font-size: 30px;
        font-family: "poppinsbold";
    }
    .top-search {
        width: auto;
    }

    .timer {
        background: url(../images/timer1.svg) no-repeat;
        top: 15px;
        right: -15px;
        left: auto;
    }
}

.container-fluid-2 {
    width: 92%;
}

.btn-warning2 {
    color: #fff;
    background: #f39f01;
    border: none;
}
.btn-warning2:hover {
    color: #fff;
    background: #f39f01;
    border: none;
}

.page-aside {
    top: 72px;
    bottom: 0;
    position: absolute;
    left: 0;
    width: 260px;
    overflow-y: auto;
    background: #f4f4f4;
    border-right: 1px solid #e4eaec;
    -webkit-transition: top 0.5s ease, width 0.5s ease, opacity 0.3s ease;
    -o-transition: top 0.5s ease, width 0.5s ease, opacity 0.3s ease;
    transition: top 0.5s ease, width 0.5s ease, opacity 0.3s ease;
}

.page-aside-header {
    background: #424242;
    padding: 24px 15px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.page-aside-body ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.page-aside-body li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #4c5264;
}
.page-aside-body li:hover {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #4c5264;
    background: #ccc;
    cursor: pointer;
}
.page-aside-body li.active {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #4c5264;
    background: #ccc;
}
.page-aside-body li .img-box {
    width: 62px;
    display: inline-block;
}

.page-aside + .page-main {
    margin-left: 260px;
}

.media-body {
    flex: 1;
    padding-left: 15px;
    padding-top: 15px;
}

.avatar-lg {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.16667rem;
}

.clear-box {
    clear: both;
    color: #ffffff;
}

.bg-gray {
    background: #262626;
    color: #fff;
}

.top-heading {
    border-bottom: 3px solid #ccc;
    margin-bottom: 10px;
}

.top-heading h2 {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
}

.text-gray {
    color: #929292;
}

.latest-topic-box {
    padding: 0px 0px 10px 0px;
    margin: 10px 0px;
}
.latest-topic-box h4 a {
    color: #000000;
    text-decoration: none;
}
.latest-topic-box h4 a:hover {
    color: #f39f01;
    text-decoration: none;
}

.body-height {
    min-height:800px;
    /* position: relative; */
}
.mdash-image img {
    width: 100%;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}

.texttimer {
    position: absolute;
    top: 20px;
    z-index: 999;
    color: #fff;
    left: 68px;
}

.newtimer {
    width: 60px;
    float: left;
    margin: 2px 0px;
}

.newtimer span {
    text-align: center;
    text-transform: uppercase;
    width: 84%;
    float: left;
    font-size: 12px;
    font-family: "Bebas Neue", cursive;
    line-height: 25px;
}
.newtimer bdo {
    background: #fff;
    color: #333;
    border-radius: 3px;
    width: 38%;
    margin: 0px 1px;
    float: left;
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 22px;
    height: 29px;
}
.newtimer bdi {
    color: #fff;
    border-radius: 3px;
    width: 8px;
    margin: 0px 1px 0px 1px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-family: arial;
    font-size: 20px;
}



.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 12px;
    color: #c00;
    font-weight: 300;
}


.texttimernew {
    /* position: absolute; */
    top: 20px;
    /* z-index: 999; */
    color: #fff;
    /* left: 68px; */
}

.newtimernew {
    width: 60px;
    float: left;
    margin: 2px 0px;
}

.newtimernew span {
    text-align: center;
    text-transform: uppercase;
    width: 84%;
    float: left;
    font-size: 12px;
    font-family: "Bebas Neue", cursive;
    line-height: 25px;
}
.newtimernew bdo {
    background: #fff;
    color: #333;
    border-radius: 3px;
    width: 38%;
    margin: 0px 1px;
    float: left;
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 22px;
    height: 29px;
}
.newtimernew bdi {
    color: #fff;
    border-radius: 3px;
    width: 8px;
    margin: 0px 1px 0px 1px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-family: arial;
    font-size: 20px;
}


.newtimernew1 {
    
    width: 60px;
    float: left;
    margin: 2px 0px;
}

.newtimernew1 span {
    text-align: center;
    text-transform: uppercase;
    width: 84%;
    float: left;
    font-size: 15px;
    font-family: "Bebas Neue", cursive;
    line-height: 25px;
    color: #333;
}
.newtimernew1 bdo {
    background: #333;
    color: #fff;
    border-radius: 3px;
    width: 38%;
    margin: 0px 1px;
    float: left;
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 22px;
    height: 29px;
}
.newtimernew1 bdi {
    color: #333;
    border-radius: 3px;
    width: 8px;
    margin: 0px 1px 0px 1px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-family: arial;
    font-size: 20px;
}
.bg-light {
    background: #e6ebf9 !important;
    font-style: 22px;
    line-height: 25px;
    margin-bottom: 20px;
    padding-left: 20px;
}
.bg-light h3 {
    font-size: 22px;
    line-height: 50px;
    margin: 0px;
    padding: 0px;
}
.form-check {
    margin-bottom: 12px;
    margin-left: 20px;
}

.privacy-box {
    margin-bottom: 30px;
}
.privacy-box h1 {
    position: relative;
    font-size: 30px;
    font-family: "poppinssemibold";
    text-transform: uppercase;
    color: #4e4f51;
}
.privacy-box h1::before {
    background: url(../images/line.png) no-repeat center center;
    height: 6px;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: "";
}
.privacy-box h3 {
    padding-bottom: 10px;
    color: #333;
    font-size: 24px;
    font-family: "poppinssemibold";
}
.privacy-box h4 {
    color: #3c4043;
    font-family: "poppinssemibold", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    padding: 12px 0 22px;
}
.privacy-box p {
    font-family: "poppinsregular";
    font-size: 16px;
}

.text-warning {
    color: #f39f01 !important;
}

.info-box {
    width: 100%;
    display: block;
    margin-top: 10px;
}
.info-box ul {
    list-style: none;
    padding: 0px;
}
.info-box li {
    background: url(../images/tick.png) no-repeat left center;
    width: 100%;
    display: block;
    position: relative;
    list-style: none;
    padding-left: 30px;
    line-height: 35px;
}

/*/=============SHINE=============/*/

.column:last-child {
    padding-bottom: 0px;
}
.column::after {
    content: "";
    clear: both;
    display: block;
}
.column div {
    position: relative;
    float: left;
}
.column div:first-child {
    margin-left: 0;
}

figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

.hover14 figure {
    position: relative;
}
.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.hover14 figure:hover::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

/*/=========SHINE-END=================/*/

.btn-send {
    background: #f39f01;
    color: #ffffff;
    font-size: 16px;
    border: 0px;
    padding: 7px 15px;
}

.btn-send:hover {
    background: #f39f01;
    color: #ffffff;
    font-size: 16px;
    border: 0px;
    padding: 7px 15px;
}

.btn-black {
    background: #000;
    color: #ffffff;
    font-size: 16px;
    border: 0px;
    padding: 7px 15px;
}

.btn-black:hover {
    background: #000;
    color: #ffffff;
    font-size: 16px;
    border: 0px;
    padding: 7px 15px;
}

.modal-header {
    background: #ccc;
}
.modal-footer {
    background: #f2f2f2;
}


.fluid-box { background:url(../images/video4.png) no-repeat;  width:536px; height:370px; text-align:center; padding-top:70px;}

.img-flude-box {
    height: 240px;width: 400px;border-radius: 20px;}

    @media (max-width: 767px) {
        .body-height {
            min-height: auto;
          }
        .fluid-box {
        background: none;
        width: auto;
        height: auto;
        text-align: center;
        padding-top: 30px;
        }
        .earn-box {
            width: auto;
            text-align: center;
          }
        .img-flude-box {
        height: auto;
        width: 100%;
        border-radius: 20px;
        }
    }

/*/=================================/*/

.close-box-btn {
    background-color: #ccc;
    border-radius: 100px;
    padding: 10px;
    opacity: 1;
    right: 2px !important;
    top: 2px;
	z-index:99;
}

.border-full {
  border: 3px solid #f39f01 !important;
}

.modal-content-new {
  border-radius: 1.5rem !important;
   background:url(../images/ppc-bg.png) repeat;
}

.cong-box {border-radius:0px 0px 20px 20px; background:#000; padding:80px 20px 30px;}

.top-90 { top:75px;}
form #website{ display:none; }